*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main,header,footer{
    text-align: center;
    min-height: 20vh;
    border: 2px solid green;
    padding: 2%;
    margin-bottom: 10px;
    border-radius: 5px;
}
form{

    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: auto auto;
    gap: 2%;
}
#serviceName{
    grid-column-start: 1;
    grid-row-start: 1;
}
#bio{
    grid-column-start: 1;
    grid-row-start: 2;
}
input{
    margin: 0.5%;
}
.service{
    border: 1px solid red;
    padding: 2%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    margin-bottom: 10px;
    border-radius: 10px;
}
.service h2{
    grid-column-start: span 2;
}

a{
    text-decoration: none;
    color: black;
}

