<!DOCTYPE html>
<html lang="se">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proffstorget</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Proffstorget</h2>
        
        
           
            <a href="/">Hem</a>
            <a href="/skapaTjanst">Skapa tjänst</a>
            <a href="/registrera" class = "notLoggedIn">registrera</a>
            <a href="/login" class = "notLoggedIn">Logga In</a>
            <a href="/tjanster">Tjänster</a>
            

        
    </header>
    <main>

        **content**
    
    </main> 
    <footer>
        <p>
            blablabla
        </p>
    </footer>
</body>
</html>